body {
margin: 0;
font-family: Arial;
background: #f5f5f5;
}


.auth-box {
padding: 30px;
}


.auth-box input, button {
width: 100%;
margin: 10px 0;
padding: 12px;
}


.welcome {
padding: 20px;
}


.grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
padding: 20px;
}


.card {
background: white;
padding: 30px;
text-align: center;
border-radius: 10px;
}


.bottom-nav {
position: fixed;
bottom: 0;
width: 100%;
display: flex;
justify-content: space-around;
background: #fff;
padding: 10px 0;
box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
